<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michaelhsieh.placetracker">

    <!-- used to check Internet connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- permission needed in Android Pie (API 28) and higher -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Add AdMob App ID-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8705794059560973~9730782762"/>

        <receiver android:name=".PlaceTrackerAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/place_tracker_app_widget_info" />
        </receiver>

        <!--launch mode singleTop to not have multiple screens when re-opening widget and app-->
        <activity android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ManualPlaceDetailActivity"
            android:parentActivityName=".MainActivity" />

        <!--service to get refreshed place info-->
        <service android:name=".RefreshPlacesListService" />
        <!--service to update widget-->
        <service android:name=".PlaceTrackerWidgetDisplayService"/>
    </application>

</manifest>